.container-fluid.jobCardContainer {
  max-width: 800px;
  .btn-outline-primary {
    color: #189fff;
    border-color: #189fff;
    &:focus {
      background-color: #fff;
    }

    &:hover {
      background-color: #fff;
    }
  }
}

.card-shadowed {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 106, 194, 0.2);
  border: 1px solid #ebf0f6;
  border-radius: 4px;
  padding: 1rem;

}

.jd {
    color: #536777;
  .aboutJob {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-family: "Poppins";
    color: #6d6d6d;
  }
  .description {
    font-size: 14px;
  }
}
